* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(fotos/boanoitecinderela.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.6;
    overflow-x: hidden;
}


/*Navbar*/
.navbar {
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
}

.navbar-brand:hover{
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
}

.nav-link {
    color: #354dd4;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
}





/*titu*/
.abh {
    padding-top: 25px;
}

.form-control::placeholder {
    color: #808080;
    font-weight: 400;
    
}

.form-label {
    font-weight: 550;
    font-size: 1.2rem;
}

.hv {
    color: #d4d4d4;
    transition: 0.3s;
    font-weight: 300;
    


}

.hv:hover {
    color: rgb(24, 24, 184);
}

.agaum {
    font-size: 3.2rem;
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.abd {
    padding-top: 130px;
    
    
}

.text {
    color: #bebebe;
}
/* === Footer === */
footer {
  margin-top: 60px;
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: #999;
  font-size: 0.9rem;
  background-color: #0c0c0c;
}