* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(fotos/boanoitecinderela.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.6;
    overflow-x: hidden;
}


/*Navbar*/
.navbar {
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
}

.navbar-brand:hover{
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
}

.nav-link {
    color: #354dd4;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
}













/*quiz*/

.perguntas {
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 30px;
    background: rgba(27, 27, 27, 0.95);
    border-radius: 25px;
    border: 1px solid #002794;
    transition: 0.3s;
    
}

.perguntas:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 50px rgba(0, 39, 148, 0.3);
}

.perguntas h1 {
    color: #76a7cf;
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
}

.opcao {
    margin: 1rem;
}

.abd {
    display: none;
}

.opcao label {
    padding: 1.2rem;
    background: #1a1a1a;
    border-radius: 15px;
    border: 2px solid #333;
    font-size: 1.1rem;
    font-weight: 600;
    color: #8b8b8b;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.opcao label:hover {
    transform: translateX(5px);
    border-color: #003d66;
    background: rgba(0, 39, 148, 0.5);
    color: #ffffff;
    box-shadow: 0 8px 25px rgba(0, 39, 148, 0.5);
    
}




/*botao*/
.ver {
    background: #1a1a1a;
    border-radius: 15px;
    border: 2px solid #333;
    font-size: 1.1rem;
    font-weight: 600;
    color: #8b8b8b;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.ver:hover {
    transform: translateY(-5px);
    border-color: #002794;
    background: #2a2a2a;
    color: #ffffff;
    box-shadow: 0 0 25px rgba(0, 39, 148, 0.4);
}

.respos {
    background-color: #1a1a1a;
    color: #aaaaaa;
    border-radius: 15px;
    font-size: 1.2rem;
    justify-content: center;
    box-shadow: 0 0 25px rgba(0, 39, 148, 0.4);
}






