/* ===== FONTES E CORES ===== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(fotos/boanoitecinderela.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 1.6;
    overflow-x: hidden;
}


/*Navbar*/
.navbar {
    padding: 1.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
}

.navbar-brand:hover{
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
}

.nav-link {
    color: #354dd4;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
}












/*Corpo*/
.corpo {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.coloridinho {
    font-weight: 700;
    background: linear-gradient(135deg, #002794, #76a7cf);
    background-clip: text;
    color: transparent;
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
}

.corpo h1 {
    font-weight: 700;
    background: linear-gradient(135deg, #8f8d8b, #ffffff);
    background-clip: text;
    color: transparent;
    position: relative;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
}

.btn-primary-custom {
    background: linear-gradient(135deg, #002794, #76a7cf);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    font-weight: 600;
    border-radius: 50px;
    transition: 0.3s;
}

.corpo p {
    font-size: 1.3rem;
    color: #e7e7e7;
}

.btn-primary-custom:hover {
    transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(9, 167, 240, 0.3);
  color: white;
}

.btn-outline-custom {
    border: 2px solid #002794;
    color: #002794;
    font-weight: 600;
    border-radius: 50px;
}

.btn-outline-custom:hover {
    background: #002794;
    color: rgb(0, 0, 0);
}

.max-w-700 {
    max-width: 700px;
}











/*dados*/
.dadinhos {
    background-color: rgb(20, 20, 20);
    width: 100%;
    padding: 5rem 0;
    text-align: center;
}

.dadinhos h2 {
    font-size: 4.4rem;
    margin-bottom: 3rem;
    font-weight: 650;
}

.fatosc {
    background-color: #272727;
    border: 2px solid #002794;
    border-radius: 16px;
    text-align: center;
    padding: 2rem;
    transition: 0.3s;
    min-width: 300px;
    min-height: 250px;
}

.fatosc:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 30, 197, 0.39);
}

.fatosn {
    color: #e7e7e7;
    font-weight: 600;
    font-size: 3rem;
}

.dadinhos p {
    font-size: 1.3rem;
    color: #e7e7e7;
}

.dadinhos small {
    color: #4b4b4b;
    font-weight: 500;
    font-size: 1.0rem;
}











/*COMP*/
.comp h2 {
    font-weight: 600;
    color: white;
}

.abc {
    transition: 0.3s;
}

.abc:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(2, 139, 202, 0.3);
}

.abd {
    transition: 0.3s;
}

.abd:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
}

.textc {
    color: #b3b1af;
}

.borderc {
    color: #999999;
    font-weight: 500;
}

.textcd {
    color: #b3b1af;
}

.textcds {
    color: #4d4d4d;
}

.vs {
    text-shadow: 0 2px 70px #ffffff;
}













/* ===== FOOTER ===== */
.footer {
  border-top: 1px solid linear-gradient(135deg, #002794, #76a7cf);
  padding: 3rem 0;
  font-size: 0.9rem;
  color: #888;
}

